<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="{{ refresh_interval }}">
    <title>My Flask Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
  <body>
    <h1>Orion</h1>
    <p>The next song will start in {{ refresh_interval }} seconds.</p>
    <p>The current song playing is {{ song }} by {{ artist }}.</p>
    <p>The song id is {{ song_id }}.</p>
    <p>The bpm is {{ song_bpm }}.</p>

    <!-- Set dimensions for chart divs -->
    <div id="loudness-chart" style="width:100%;height:600px;">{{ loudness_chart_html|safe }}</div>

    <div id="conf-chart" style="width:100%;height:600px;">{{ section_confidences_chart_html|safe }}</div>
    <div id="timbre-histogram">{{ timbre_histogram_html|safe }}</div>

  </body>
</html>
