<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="{{ refresh_interval }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>My Flask App</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
  <body>
    <h1>Orion</h1>
    <p>The next song will start in {{ refresh_interval }} seconds.</p>
    <p>The current song playing is {{ song }} by {{ artist }}.</p>
    <p>The song id is {{ song_id }}.</p>
    <p>The bpm is {{ song_bpm }}.</p>
    <p>The beat confidence is {{ song_bc }}.</p>

    <p>The danceability of the song is {{ audio_features.danceability|default('N/A') }}.</p>
    <p>The energy of the song is {{ audio_features.energy|default('N/A') }}.</p>
    <p>The loudness of the song is {{ audio_features.loudness|default('N/A') }}.</p>
    <p>The valence of the song is {{audio_features.valence|default('N/A')}}.</p>


    <button onclick="location.reload();">Refresh</button>


    <!-- Set dimensions for chart divs -->
    <div id="loudness-chart" style="width:100%;height:600px;">{{ loudness_chart_html|safe }}</div>

    <div id="conf-chart" style="width:100%;height:600px;">{{ section_confidences_chart_html|safe }}</div>
    <div id="timbre-histogram">{{ timbre_histogram_html|safe }}</div>

  </body>
</html>
